.row
  .span6
    .alert.alert-danger
      %h4
        Oops!
      We're sorry the page you are looking for cannot be found.
      %br
      %br
      %p
        %a.btn.btn-danger{href: 'http://william.afendy.com'}
          Return to Homepage
