%ul.breadcrumb
  %li
    %a{:href => "/"}Home
    %span.divider /
  %li.active
    About  


.row
  .span4
    %img{:class => "img-polaroid", :src => "img/mugshot.png"}
  .span3
    %address
      %strong Pinterest 
      %br
      %a{:href => "http://pinterest.com/williamafendy"} http://pinterest.com/williamafendy      
    %address
      %strong ModelMayhem 
      %br
      %a{:href => "http://www.modelmayhem.com/819130"} http://www.modelmayhem.com/819130

    %address
      %strong YouTube 
      %br
      %a{:href => "http://www.youtube.com/user/williamafendy"} http://www.youtube.com/user/williamafendy

    %address
      %strong LinkedIn 
      %br
      %a{:href => "http://www.linkedin.com/in/williamafendy"} http://www.linkedin.com/in/williamafendy
      
    %address
      %strong GitHub 
      %br
      %a{:href => "http://github.com/wafendy"} http://github.com/wafendy     
